/* Header */

#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;

  // Mobile styles (header is off-screen)
  @media (max-width: 991px) {
    width: 300px;
    background: $white;
    border-right: 1px solid #e6e9ec;
    left: -300px;
  }

  // Desktop styles 
  @media (min-width: 992px) {

    // targets the #main element that is a sibling of #header
    ~#main {
      margin-left: 100px;
    }
  }
}