/* Scrolling Widget */

.scrolling-widget {
  width: 100%;
  background-color: #9ebccd;
  padding: 20px 0;
  overflow: hidden;
  position: relative;
  background-image: url("../img/background-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.marquee-container {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
}

.marquee-content {
  display: flex;
  align-items: center;
  gap: 40px;
  animation: marquee-animation 35s linear infinite;

  img {
    max-height: 80px;
    width: auto;
    display: inline-block;
    filter: brightness(0.9);
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
      filter: brightness(1.2);
    }
  }
}

/* Infinite Scrolling Effect */
@keyframes marquee-animation {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

/* Scrolling Skills Text */
.scrolling-skills-widget .scrolling-skills {
  font-family: Salvaje, Sans-serif;
  font-size: 70px;
  color: #9ebccd;
  margin: 0;
  padding-top: 10px;
}