/* Skills Section */

.skills {

  .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;

    .skill {
      padding: 10px 0;
      margin: 0;
      text-transform: uppercase;
      display: block;
      font-weight: 600;
      font-family: $font-secondary;
      color: $secondary;

      .val {
        float: right;
        font-style: normal;
      }
    }
  }

  .progress-bar-wrap {
    background: #f2f3f5;
  }

  .progress-bar {
    width: 1px;
    height: 10px;
    transition: 0.9s;
    background-color: $primary;
  }
}